@{
    Layout = "~/Views/Shared/_Layout_Report.cshtml";
    ViewBag.Title = "In thông tin tổ";
}
<div class="content-header clearfix">
    <h1 class="pull-left"> @ViewBag.Title</h1>
</div>

<div class="content">
    <div id="divReport">
        @Html.Action("DocumentViewerPartial", "ReportDepartment", new { Id =  ViewBag.DepartmentId })
    </div>
</div>