
@{
    Layout = "~/Views/Shared/_Layout_Report.cshtml";
    ViewBag.Title = "Phiếu yêu cầu xuất khuôn In Toàn Phát";
}

<div class="content-header clearfix">
    <h1 class="pull-left"> @ViewBag.Title</h1>
</div>

<div class="content">
    <div class="content">
        <div id="divReport">
            @Html.Action("DocumentViewerPartial", "XuatKhuon", new { CatalogueNo = ViewBag.CatalogueNo })
        </div>
    </div>
</div>
