@model DateClosedViewModel
@{
    ViewBag.Title = LanguageResource.MES_DateClosed;
    string CurrentController = ConstController.DateClosed;
    string CurrentArea = ConstArea.MES;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                @using (Html.BeginForm("_Search", null, FormMethod.Post, new { @id = "frmSearch", @class = "isd-form-search" }))
                {
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.TooltipLabelFor(p => p.DateClosedInput)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(p => p.DateClosedInput, "{0:yyyy-MM-dd}", new { @class = "form-control text-box single-line", @type="date", @Value=ViewBag.DateClosedInput.ToString("yyyy-MM-dd") })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-5">
                                    <a class="btn btn-primary" id="btn-save-date-closed">Khóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm"></div>

@section scripts {
    <script>
        //load default and set event
        $(document).ready(function () {
            ISD.SearchDefault("@CurrentUrl");
            ISD.ShowMessage(window.location.href);
        });

        //Xử lý nút "Khóa"
        $(document).on('click', '#btn-save-date-closed', function () {
            var $btn = $(this);
            $btn.button('loading');
            var dateClosed = $('#DateClosedInput').val();
            $.ajax({
                type: "POST",
                url: "/@CurrentUrl/SaveDateClosed",
                data: {
                    DateClosedInput: dateClosed,
                },
                success: function (jsonData) {
                    $btn.button('reset');
                    if (jsonData.Success) {
                        window.location.href = "/@CurrentUrl?message=" + jsonData.Data;
                    }
                    else {
                        alertPopup(false, jsonData.Data);
                    }
                },
                error: function (xhr, status, error) {
                    alertPopup(false, xhr.responseText);
                    $btn.button('reset');
                }
            });
        });
    </script>
}