@model DepartmentViewModel

<div class="form-group">
    <div class="col-md-4 col-xs-5">
        @Html.LabelByPropertyNameFor(p => p.WorkShopId, "Phân xưởng:")
    </div>
    <div class="col-md-8 col-xs-12 display-for">
        @Html.RequiredDropDownListFor(x => x.WorkShopId, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control", @Required = true })
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 col-xs-5">
        @Html.LabelByPropertyNameFor(p => p.DepartmentId, "Tổ:")
    </div>
    <div class="col-md-8 col-xs-12 display-for department">
        @Html.RequiredDropDownListFor(x => x.DepartmentId, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control", @Required = true })
    </div>
</div>