@model ProductionManagementViewModel
<b>Ghi nhận thêm:</b>
<table class="table table-bordered table-responsive dataTable table-routing-result table-sm">
    <tr class="row-@Model.ProductAttributes.Replace(".","-")">
        <td>Tồn:</td>
        <td>
            @(string.Format("{0:n0}", (Model.Quantity_DLD ?? 0)))
        </td>
        <td>
            <div class="input-group input-group-required">
                <input name="productionOrderDetailOld[0].Quantity_D" data-id="@Model.ProductAttributes.Replace(".","-")" class="form-control text-box single-line" type="number" step="1">
            </div>
        </td>
        <td>Đ</td>
        <td>@string.Format("{0:n0}", (Model.Quantity_DLKD ?? 0))</td>
        <td>
            <div class="input-group input-group-required">
                <input name="productionOrderDetailOld[0].Quantity_KD" data-id="@Model.ProductAttributes.Replace(".","-")" class="form-control text-box single-line" type="number" step="1" >
            </div>
        </td>
        <td>KĐ</td>
    </tr>
    <tr>
        <td colspan="2">Từ</td>
        <td colspan="2">
            <div class="input-group input-group-required">
                <input name="productionOrderDetailOld[0].FromTime" class="form-control text-box single-line" type="time" value="00:00">
            </div>
        </td>
        <td>Đến</td>
        <td colspan="2">
            <div class="input-group input-group-required">
                <input name="productionOrderDetailOld[0].ToTime" class="form-control text-box single-line" type="time" value="00:00">
            </div>
        </td>
    </tr>
</table>




