@model CampaignReportViewModel
@{
    var id = ViewBag.Id;
    //bool isHasPermissionExport = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.Import, "?Type=" + ViewBag.Type);
}
<div class="row text-center">
   
        <div class="chart-container" style="height:400px; max-width:1000px; margin:auto;">
            <canvas id="myChart"  ></canvas>
        </div>
    
</div>



<div id="report-label" hidden>
    <p>@Html.DisplayNameFor(p => p.TotalMember)</p>
    <p>@Html.DisplayNameFor(p => p.TotalMailSend)</p>
    <p>@Html.DisplayNameFor(p => p.TotalMailBounce)</p>
    <p>@Html.DisplayNameFor(p => p.TotalMailOpened)</p>
</div>

