@model ModuleModel
@{
    ViewBag.Title = Model.ModuleName;
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

@section scripts{
    <script>
        $("body").addClass("white");
    </script>
}