@{
    Layout = "~/Views/Shared/_Layout_Report.cshtml";
    ViewBag.Title = "Thẻ treo Pallet";
}
<div class="content-header clearfix">
    <h1 class="pull-left"> @ViewBag.Title</h1>
</div>

<div class="content">
    <div id="divReport">
        @Html.Action("DocumentViewerPartial", "ReportHangTag", new { CustomerReference = ViewBag.CustomerReference, BatchPrinting = ViewBag.BatchPrinting, IsCum = ViewBag.IsCum })
    </div>
</div>