<div class="form-group">
    <div class="col-md-5">
        <div id="chart">
        </div>
    </div>
    <div class="col-md-7">
        <div id="div-table" style="height: 700px; overflow-y: scroll;">
            <table id="table-employee" class="table table-bordered table-striped table-hover no-footer">
                <thead class="isd-table-header fixedHeader">
                    <tr class="table-primary">
                        @*<th class="text-center isd-table-th-stt" style=" width: 100px;">Ngày</th>*@
                        @*<th>Xưởng</th>*@
                        <th style="width:150px;">Tổ</th>
                        <th style="width:200px;">MSNV/tên</th>
                        <th class="text-right">Tiền KH(vnđ)</th>
                        <th class="text-right">HSTN</th>
                        <th class="text-right">HSHTCV</th>
                        <th class="text-right">Tiền dự kiến RT(vnđ)</th>
                        <th class="text-right">Phần trăm HT</th>
                        <th class="text-right">Tổng lũy kế (vnđ)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>