
@{
    ViewBag.Title = "Scan QRCode Web";
    Layout = "~/Views/Shared/_Layout_Scaner.cshtml";
}


<div class="content">
    <div style="padding:0 15px 15px;">
        <h3>BarcodeReader API</h3>
        <p>The test Page</p>
        <button class="btn btn-success" id="openButton" onclick="openButtonClicked()">Open Reader</button>
        <button class="btn btn-warning" id="closeButton" onclick="closeButtonClicked()" disabled>Close Reader</button>
    </div>

    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Barcode Data Read</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2"><label for="BarcodeData">Data:</label></div>
                        <div class="col-sm-10"><textarea class="form-control" id="BarcodeData" rows="4"></textarea></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2"><label for="ReadTime">Time:</label></div>
                        <div class="col-xs-10">
                            <input type="text" id="ReadTime" class="form-control" />
                            <input type="hidden" id="SymbType" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div id="logMsg">
                        <b>Log:</b>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section components{
    <div class="modal fade" id="divChangeStatusTask" role="dialog">

    </div>
}


@section Scripts{
    <script>
        var barcodeDataText, readTimeText;
        barcodeDataText = document.getElementById("BarcodeData");
        //symbTypeText = document.getElementById("SymbType");
        readTimeText = document.getElementById("ReadTime");

        //Quét mã có data sẽ gọi hàm này, cusstom bên trong hàm, không sửa tên hàm và tham số.
        function onBarcodeDataReady(data, type, time) {
            let textData = GetValueFieldInData(data, "T2");
            barcodeDataText.value = decode_utf8(textData);
            readTimeText.value = time;

            //Lấy idTask từ trường T1
            if (textData == "Employee") {
                let id = GetValueFieldInData(data, "T1");
                $.ajax({
                    type: "GET",
                    url: "/MasterData/SalesEmployee2/ScanQR",
                    data: { SalesEmployeeCode: id },
                    success: function (response) {
                        $("#divChangeStatusTask").html(response);
                        $("#divChangeStatusTask").modal('show');
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });
            } else {
                let idTask = GetValueFieldInData(data, "T1");
                $.ajax({
                    type: "GET",
                    url: "/Work/Task/ChangeStatusByQRCode",
                    data: { TaskId: idTask },
                    success: function (response) {
                        $("#divChangeStatusTask").html(response);
                        $("#divChangeStatusTask").modal('show');
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });
            }
           

        }

        $(document).on("click", "#btn-save", function () {
            $btn = $(this);
            $btn.button('loading');
            var data = $("#frmUpdateStatus").serializeArray();
            $.ajax({
                type: "POST",
                url: "/Work/Task/UpdateStauts",
                data: data,
                success: function (response) {
                    $btn.button('reset');
                    if (response.Success = true) {
                        $("#divChangeStatusTask").modal('hide');
                        alertPopup(true, response.Message);
                    } else {
                        $("#divChangeStatusTask #divAlertPopupWarning .alert-message").html(response.Data);
                    }
                },
                error: function (err) {
                    $btn.button('reset');
                    alertPopup(true, err.statusText);
                    console.log(err.statusText);
                }
            });
        })


    </script>
}

