<div class="form-group">
    <div class="col-md-6">
        <div id="chart">
        </div>
    </div>
    <div class="col-md-6">
        <div id="div-table" style="height: 800px; overflow-y: scroll;">
            <table id="table-employee" class="table table-bordered table-striped table-hover no-footer">
                <thead class="isd-table-header fixedHeader">
                    <tr class="table-primary">
                        <th class="text-center isd-table-th-stt" style=" width: 100px;">Thời gian</th>
                        <th>Xưởng</th>
                        <th>Tổ</th>
                        <th>Công nhân</th>
                        <th style="width:100px;" class="text-right">Năng suất dự kiến tính theo routing (phút)</th>
                        <th style="width:100px;" class="text-right">Năng suất theo số người lao động (phút)</th>
                        <th style="width:100px;" class="text-right">Năng suất lũy kế đến hiện tại (phút)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>