
@{
    ViewBag.Title = LanguageResource.LSX_MatchCard;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
    <div class="pull-right">

    </div>
</div>

