@model WorkShopViewModel


<div class="form-group">
    <div class="col-md-4">
        @Html.TooltipLabelFor(p => p.WorkShopId)
    </div>
    <div class="col-md-8">
        @Html.DropDownListFor(p => p.WorkShopId, null, LanguageResource.Dropdownlist_All, new { @class = "form-control text-box single-line" })
    </div>
</div>

